.toolbar-spacer {
    flex: 1 1 auto;
}

.toolbar-optimize-position {
    margin-top: -1px;
}

.tab-resize {
    width: 100%;
    text-align: center;
}

.tab-active-color {
    opacity: 1;
}

.color-menu {
    color: rgb(117, 117, 117);
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.bar-fixed {
    position: fixed;
    width: 100%;
    z-index: 300;
    top: 0;
}